{% extends "layout.html" %}

{% block main %}



<hr>
<hr>

<h1>{{ question.question_text }}</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
            <th scope="col">No.</th>
            <th scope="col">Choice</th>
            <th scope="col">Votes</th>
        </thead>
        <tbody>
            {% for choice in question.choice_set.all %}
            <tr>            
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ choice.choice_text }}</td>
                <td>{{ choice.votes }}</td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-center">
<form action="{% url 'polls:vote' question.id %}" method = "post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-success">
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" >{{ choice }}
        </label>
    </div>
    {% endfor %}
    <input type="submit" value="vote" class="btn btn-primary">
</form>
</div>

<a href="/polls/" class="btn btn-warning">Back to Main Page</a>

{% endblock %}