{% extends "layout.html" %}

{% block main %}



<hr>
<hr>

<h1>{{ question.question_text }}</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
            <th scope="col">#</th>
            <th scope="col">Choice</th>
            <th scope="col">Votes</th>
        </thead>
        <tbody>
            {% for choice in question.choice_set.all %}
            <tr>            
                <th scope="row">{{ choice.id }}</th>
                <td>{{ choice.choice_text }}</td>
                <td>{{ choice.votes }}</td>            
            </tr>
            {% endfor%}
        </tbody>
    </table>
</div>


<form action="{% url 'polls:vote' question.id %}" method = "post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{choice.choice_text}}</label><br>
    {% endfor %}
    <input type="submit" value="vote">
</form>

<a href="/polls/">Back to Main Page</a>

{% endblock %}