{% extends "layout.html" %}

<link rel="stylesheet" href="../../static/polls/style.css">

{% block carousel %}

<!-- Carousel -->
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      
      <img  style="height:512px" srcset="../static/polls/images/Pietro.jpg 1200w, ../static/polls/images/Grindelwald_resized.jpg 1600w" sizes="(max-width: 1200px) 100%, (max-width: 1600px) 100%" src="../static/polls/images/Pietro_abv_1200.jpeg" class="responsive_img" alt="Italy">

      <div class="container">
        <div class="carousel-caption text-start">
          <h1>First Slide</h1>
          <p>Some representative placeholder content for the first slide of the carousel.</p>
          <p><a class="btn btn-lg btn-primary" href="{% url 'register' %}">Sign up today</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
      <img  style="height:512px" srcset="../static/polls/images/Sedona_blw_1200.jpg 1200w, ../static/polls/images/Horshoe_resized.jpg 1600w" sizes="(max-width: 1200px) 100%, (max-width: 1600px) 100%" src="../static/polls/images/Sedona_abv_1200.jpeg" class="responsive_img" alt="Sedona">

      <div class="container">
        <div class="carousel-caption">
          <h1>Another example headline.</h1>
          <p>Some representative placeholder content for the second slide of the carousel.</p>
          <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
      <img  style="height:512px" srcset="../static/polls/images/Airplane_blw_1200.jpg 1200w, ../static/polls/images/Airplane_resized.jpg 1600w" sizes="(max-width: 1200px) 100%, (max-width: 1600px) 100%" src="../static/polls/images/Airplane_abv_1200.jpeg" class="responsive_img" alt="Airplane">
      <div class="container">
        <div class="carousel-caption text-end">
          <h1>One more for good measure.</h1>
          <p>Some representative placeholder content for the third slide of this carousel.</p>
          <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> <!-- Caraosel End-->

{% endblock %}

{% block main %}

<!--
{% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }} </a></li>
        {% endfor%}
    </ul>

    
{% else %}
    <p>No polls are available.</p>
{% endif%}
{% endblock %}
-->
{% block headings %}
<!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <!--
  <div class="container marketing">

    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>Heading</h2>
        <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>Heading</h2>
        <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>Heading</h2>
        <p>And lastly this, the third column of representative placeholder content.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div>
    </div>
    -->
{% endblock %}


{% block album %}

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

{% for question in latest_question_list %}
<div class="col">
    <div class="card shadow-sm">
      <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><a href="{% url 'polls:detail' question.id %}"><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ question.question_text }} </a> </text></svg>

      <div class="card-body">
          <p class="card-text">{{ question.choice_set.values }}</p>
          <p class="card-text">{{ question.choice_set.values.count }}</p>

        
        
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Vote</button>
            <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
          </div>
          <small class="text-muted">9 mins</small>
        </div>
      </div>
    </div>
  </div>

 
{% endfor %}

{% endblock %}

{% block ads %}

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Got a talent? </h2>
          <div><h2><span class="text-muted featurette-heading">Make more money!</span></h2></div>
        <p class="lead">Start your service today and let's make more money ! Can you bring me a coke? How about walking a dog for me? </p>
        <div class="lead">Oh, you just wanted to get service from us? No problem. Browse our people that suit you most</div>
      </div>
      <div class="col-md-5">        
        <title>Horshoe Band</title>
        <rect width="100%" height="100%" fill="#eee"/>
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="../static/polls/images/1505178515482.jpg" alt="Horseband Pic">        
      
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">1 Survey = 500 won <span class="text-muted"></span></h2>
        <div><h2><span class="text-muted featurette-heading">$ EZ MONEY $</span></h2></div>
        <p class="lead">Would you fill out my survey? I'll pay you! It only takes about 3 mins. You know what they say; Nothing is better than free money. Try it out!</p>
      </div>
      <div class="col-md-5 order-md-1">
        <title>Switerland</title>
        <rect width="100%" height="100%" fill="#eee"/>
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="../static/polls/images/20190818_060038880_iOS.jpg" alt="Horseband Pic">        
      

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Oh yeah, it’s that easy. </h2>
        <div><h2><span class="text-muted featurette-heading">See for yourself.</span></h2></div>
        <p class="lead">And yes, that's it. Again, we always appreciate your thoughts toward us, simply give us your view of how we can improve our service. Let's start our journey here.</p>
      </div>
      <div class="col-md-5">
        <title>Horshoe Band</title>
        <rect width="100%" height="100%" fill="#eee"/>
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="../static/polls/images/20190816_112539000_iOS.jpg" alt="Horseband Pic">        
      
      </div>
    </div>


    <!-- /END THE FEATURETTES -->

    <!-- 카카오톡
    <a id="create-kakao-link-btn" href="javascript:;">
      <img
        src="https://developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png"
      />
    </a>
    
    <script type="text/javascript">
      Kakao.Link.createDefaultButton({
        container: '#create-kakao-link-btn',
        objectType: 'feed',
        content: {
          title: '딸기 치즈 케익',
          description: '#케익 #딸기 #삼평동 #카페 #분위기 #소개팅',
          imageUrl:
            'http://k.kakaocdn.net/dn/Q2iNx/btqgeRgV54P/VLdBs9cvyn8BJXB3o7N8UK/kakaolink40_original.png',
          link: {
            mobileWebUrl: 'https://developers.kakao.com',
            webUrl: 'https://developers.kakao.com',
          },
        },
        social: {
          likeCount: 286,
          commentCount: 45,
          sharedCount: 845,
        },
        buttons: [
          {
            title: '웹으로 보기',
            link: {
              mobileWebUrl: 'https://developers.kakao.com',
              webUrl: 'https://developers.kakao.com',
            },
          },
          {
            title: '앱으로 보기',
            link: {
              mobileWebUrl: 'https://developers.kakao.com',
              webUrl: 'https://developers.kakao.com',
            },
          },
        ],
      })
    </script>



{% endblock %}