{% extends "layout.html" %}

<link rel="stylesheet" href="../../static/polls/style.css">

{% block carousel %}

<!-- Carousel -->
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      
      <img style="height:512px; text-align:center; overflow:hidden; position:relative; left: 50%; transform:translate(-50%,0); " srcset="../static/polls/images/Grindelwald_resized.jpg 1200w, ../static/polls/images/Grindelwald_resized.jpg 1600w" sizes="(max-width: 1200px) 100%, (max-width: 1600px) 100%" src="../static/polls/images/Pietro_abv_1200.jpeg"  alt="Italy">

      <div class="container">
        <div class="carousel-caption text-start">
          <h1>Grindelwald, Switzerland</h1>
          <p>Grindelwald is a village and municipality in the Interlaken-Oberhasli administrative district in the canton of Berne in Switzerland.</p>
          <p><a class="btn btn-lg btn-primary" href="{% url 'register' %}">Sign up today</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      
      
      <img  style="height:512px; text-align:center; overflow:hidden; position:relative; left: 50%; transform:translate(-50%,0);" srcset="../static/polls/images/Horshoe_resized.jpg 1200w, ../static/polls/images/Horshoe_resized.jpg 1600w" sizes="(max-width: 1200px) 100%, (max-width: 1600px) 100%" src="../static/polls/images/Horshoe_resized.jpg" alt="Sedona">
      
      <div class="container">
        <div class="carousel-caption">
          <h1>Horseshoe Bend</h1>
          <p>Horseshoe Bend is a horseshoe-shaped incised meander of the Colorado River located near the town of Page, Arizona, United States.</p>
          <p><a class="btn btn-lg btn-primary" target="blank" href="https://en.wikipedia.org/wiki/Horseshoe_Bend_(Arizona)">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      
      <img  style="height:512px; text-align:center; overflow:hidden; position:relative; left: 50%; transform:translate(-50%,0);" src="../static/polls/images/Airplane_resized.jpg" alt="Airplane">
      <div class="container">
        <div class="carousel-caption text-end">
          <h1>Arizona</h1>
          <p>Arizona, a southwestern U.S. state, is best known for the Grand Canyon, the mile-deep chasm carved by the Colorado River.</p>
          <p><a class="btn btn-lg btn-primary" target="blank" href="https://en.wikipedia.org/wiki/Arizona">Browse gallery</a></p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> <!-- Caraosel End-->

{% endblock %}

{% block main %}

<!--
{% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }} </a></li>
        {% endfor%}
    </ul>

    
{% else %}
    <p>No polls are available.</p>
{% endif%}
{% endblock %}
-->
{% block headings %}
<!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <!--
  <div class="container marketing">

    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>Heading</h2>
        <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>Heading</h2>
        <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>Heading</h2>
        <p>And lastly this, the third column of representative placeholder content.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div>
    </div>
    -->
{% endblock %}


{% block album %}

<div class="album py-5 bg-light">
  <div class="container">
    <h1>The latest surveys</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      
{% for question in latest_question_list %}
<div class="col">
    <div class="card shadow-sm">
      <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><a href="{% url 'polls:detail' question.id %}"><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ question.question_text }} </a> </text></svg>

      <div class="card-body">
        {% for i in question.choice_set.all %}
          <p class="card-text">{{i}}</p>
        {% endfor %}     
        
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button onclick="location.href='/polls/{{ question.id }}/'"" type="button" class="btn btn-sm btn-outline-secondary">Vote</button>
            <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
          </div>
          <small class="text-muted" id="date">{{question.pub_date.year}}/{{question.pub_date.month}}/{{question.pub_date.day}}</small>
        </div>
      </div>
    </div>
  </div>

 
{% endfor %}

{% endblock %}

{% block ads %}

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Got a talent? </h2>
          <div><h2><span class="text-muted featurette-heading">Make more money!</span></h2></div>
        <p class="lead">Start your service today and let's make more money ! Can you bring me a coke? How about walking a dog for me? </p>
        <div class="lead">Oh, you just wanted to get service from us? No problem. Browse our people that suit you most</div>
      </div>
      <div class="col-md-5">        
        <title>Horshoe Band</title>
        <rect width="100%" height="100%" fill="#eee"/>
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="../static/polls/images/1505178515482.jpg" alt="Horseband Pic">        
      
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Survey<span class="text-muted"></span></h2>
        <div><h2><span class="text-muted featurette-heading">EZ</span></h2></div>
        <p class="lead">Would you fill out my survey? I'll pay you! It only takes about 3 mins. You know what they say; Nothing is better than free money. Try it out!</p>
      </div>
      <div class="col-md-5 order-md-1">
        <title>Switerland</title>
        <rect width="100%" height="100%" fill="#eee"/>
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="../static/polls/images/20190818_060038880_iOS.jpg" alt="Horseband Pic">        
      

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Oh yeah, it’s that easy. </h2>
        <div><h2><span class="text-muted featurette-heading">See for yourself.</span></h2></div>
        <p class="lead">And yes, that's it. Again, we always appreciate your thoughts toward us, simply give us your view of how we can improve our service. Let's start our journey here.</p>
      </div>
      <div class="col-md-5">
        <title>Horshoe Band</title>
        <rect width="100%" height="100%" fill="#eee"/>
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="../static/polls/images/20190816_112539000_iOS.jpg" alt="Horseband Pic">        
      
      </div>
    </div>


    <!-- /END THE FEATURETTES -->

    <script>
    
    let sdt = new Date().day;
    let edt = document.querySelector('#date').innerHTML;

    let dateDiff = sdt - edt

    console.log(dateDiff)
      
    </script>
 


{% endblock %}