{% extends 'layout.html '%}

{% block main %}

<br>
<div class="row">
    <div class="col-md-8">
        <div class="card card-body">   

            <p>Order</p>

            <div class="now">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ formset.management_form }}
                    {% for form in formset %}
                        {{form}}
                        <hr>
                    {% endfor %}
                    <input type="submit" name="submit" class="btn btn-primary">
                </form>
            </div>


        </div>
    </div>
</div>


{% endblock %}